%section#top-header.container-fluid.clearfix
  .main-header_wrapper.row
    .parent-container
      .col-md-10.col-md-offset-2
        %h4 COMMUTEWORKS CARPOOL PROGRAM
    - if logged_in?
      %section#sub-header.row
        .white.col-md-offset-2
          = link_to 'View Carpools', carpools_path
        .white
          = link_to 'Register a Carpool', new_carpool_path          
        .white
          = link_to 'Log Out', logout_path 
        - if admin?
          .white
            = link_to 'Carpool Registrations', admin_carpools_path 
    - else
      %section#sub-header.row
        .white.col-md-offset-2
          = link_to 'View Carpools', carpools_path
        .white
          = link_to 'Log In', login_path
        .white
          = link_to 'Sign Up', register_path   