.padded-column
  %section
    - unless logged_in?
      %em#register_notice Please login to request information or to register your carpool.
    - @carpools.each do |carpool|
      .row.carpool
        .origin.col-md-6
          %h4 From #{carpool.city}, #{carpool.state} (#{carpool.total_seats} seats)  
      .row.carpool
        .col-md-5
          %em Inbound
          %br       
          Leaves #{carpool.city}, #{carpool.state} at #{carpool.am_start}
          %br
          Arrives at #{carpool.parking_address} at #{carpool.am_end}
        .col-md-5
          %em Outbound
          %br             
          Leaves #{carpool.parking_address} at #{carpool.pm_start}
          %br
          Arrives at #{carpool.city}, #{carpool.state} at #{carpool.pm_end}
        -if logged_in?
          .col-md-2
            %br        
            .btn-primary.btn.white
              = link_to "Request Info", make_info_request_path(carpool.id), method: :post
      %hr