.padded-column
  .row
    %h4.emphasis.col-md-4 Register Your Carpool
  %hr
  = bootstrap_form_for(@carpool) do |f|
    %h4.emphasis Origin of the Carpool 
    .row
      .form-group.col-md-4
        = f.text_field :city, label: 'City'
      .form-group.col-md-3       
        = f.select :state, us_states
      .form-group.col-md-3   
        = f.text_field :zipcode, label: 'Zipcode'
    .row
      .form-group.col-md-5        
        = f.text_field :parking_address, label: 'Parking Location in LMA'    
    %h4.emphasis Travel Time
    .row
      .form-group.col-md-4
        = f.time_field :am_start, label: 'AM Departure Time'
      .form-group.col-md-4
        = f.time_field :am_end, label: 'AM Arrival Time'
    .row
      .form-group.col-md-4
        = f.time_field :pm_start, label: 'PM Departure Time'
      .form-group.col-md-4          
        = f.time_field :pm_end, label: 'PM Arrival Time'   
    %br   
    %fieldset.form-inline.row
      .form-group.col-md-8
        = f.number_field :total_seats, min: 1, max: 10, label: 'Total number of seats in carpool:'
    %hr                         
    .form-group
      %button.btn.btn-primary.col-md-2(type="submit") Create
      = link_to "Cancel", "#"
